__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
.vscode/
.idea/

*.pt
*.pth
*.onnx
*.engine
*.weights
*.t7
*.h5
*.rar

model_*/
result_*/
BieuDo/
module_yolo/
reports/
outputs/
videos/
venv/
venv311/
build/
dist/
*.spec
*.tmp
*.log

/export_int8.py
/test_rf_onnx.py
